<manifest 
package="com.github.slashmili.Zendroid" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission  android:name="android.permission.INTERNET" />
    <uses-permission  android:name="android.permission.VIBRATE" />
    <uses-permission  android:name="android.permission.FLASHLIGHT" />
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <application android:icon="@drawable/zendroid_icon" android:label="Zenroid">
        <activity android:label="Zenroid" android:name=".EventConsoleActivity" android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
                <action android:name="com.github.slashmili.Zendroid.REFRESHACTIVITY"></action>
            </intent-filter>
        </activity>
        <activity android:label="About Zenroid" android:name=".MainActivity" />
        <activity android:label="Zenroid Settings" android:name=".ZenroidSettings"  android:configChanges="keyboardHidden|orientation" />
        <activity android:label="Configuration" android:name=".GlobalConfiguration" />
        <receiver android:name="SmallWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
                <meta-data android:name="android.appwidget.provider" android:resource="@xml/small_widget" />
        </receiver>
        <service android:name=".Services.ZenossUpdateService" />
    </application>
</manifest>
