<manifest 
android:versionName="0.1" android:versionCode="1" package="com.github.slashmili.Zendroid" xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission  android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="7"></uses-sdk>
    <application android:icon="@drawable/zendroid_icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".GlobalConfiguration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".MainActivity" />
        <receiver android:name="SmallWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
                <meta-data android:name="android.appwidget.provider" android:resource="@xml/small_widget" />
        </receiver>
        <service android:name=".Services.ZenossUpdateService" />
    </application>
</manifest>
